@mixin flex-center() {
  align-items: center;
  justify-content: center;
  display: flex;
}

@mixin pos-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin h() {
  letter-spacing: 6px;
  text-decoration: underline;
  text-transform: uppercase;
}

.Game {
  @include flex-center();
  flex-direction: column;
  h1 {
    @include h();
    font-size: 44px;
    margin-bottom: 20px;
  }
  .task-status {
    position: relative;
    margin: 30px;
    h2 {
      @include h();
      font-size: 20px;
      color: #222;
    }
    progress {
      position: absolute;
      bottom: -20px;
      width: 100%;
      -webkit-appearance: none;
    }
    progress[value]::-webkit-progress-bar {
      background-color: rgba(255, 255, 255, .3);
      border-radius: 2px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
    }
    progress[value]::-webkit-progress-value {
      background-image: -webkit-linear-gradient(top,
              rgba(255, 255, 255, .1),
              rgba(0, 0, 0, .25)),
      -webkit-linear-gradient(left, #04264e, #c900ff);
      border-radius: 2px;
    }
  }
  .player-stat {
    font-size: 18px;
    text-align: center;
    h3 {
      @include h();
      font-size: 26px;
      color: #333;
    }
    ul {
      @include flex-center();
      flex-direction: row;
      li {
        font-size: 22px;
        color: #333;
        font-weight: bold;
        list-style: none;
        &:after {
          content: '|';
          margin: 0 10px;
        }
        &:last-child:after {
          content: '';
          margin: 0;
        }
      }
    }
  }
  .play-ground {
    border: 1px solid #043007;
    font-size: 18px;
    position: relative;
    background: rgba(100, 79, 255, 0.2);
    div {
      display: flex;
      div {
        width: 30px;
        height: 30px;
        &.wall {
          background: #333;
        }
        &.silver {
          position: relative;
          text-align: center;
          color: #666;
          border-radius: 50%;
          background: #e2e2eb;
          &:after {
            @include pos-center();
            content: 'S';
          }
        }
        &.gold {
          position: relative;
          text-align: center;
          color: #666;
          border-radius: 50%;
          background: #ffd500;
          &:after {
            @include pos-center();
            content: 'G';
          }
        }
        &.boss {
          background: red url("./png/boss.png");
          background-size: cover;
        }
        &.grenade{
          transform: rotate(45deg) scale(.6);
          background: transparent url("./png/Grenade.png");
          background-size: cover;
        }
        &.locked {
          background: #f6ff8c;
        }
        &.player {
          transform: none;
          background: #fcc6ff;
          border-radius: 5px;
          position: relative;
          &:after {
            @include pos-center();
            content: 'P';
          }
        }
      }
    }
  }
  button {
    display: block;
    font-size: 30px;
    background: transparent;
    border: none;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}