.item{
    display: inline-block;
    width: 25px;
    height: 25px;
}

.player{
    border-radius: 50%;
    background-color: #00ff00;
}

.item .player{
    background-color: #ebebeb;
}

.wall{
    background-color: #000000;
}

.skill{
    background-color: #ff0000;
}

.certificate{
    background-color: #ffff00;
}

.bossWall{
    background-color: #0005ff;
}

.boss{
    background-color: #eaa000;
}