.itemLine div{
    display: inline-block;
    width: 25px;
    height: 25px;
}

.pole{
    background-color: #ebebeb;
}

.wall{
    background-color: #000000;
}

.skill{
    background-color: #ff7bf8;
}

.certificate{
    background-color: rgb(255, 248, 165);
}

.bossWall{
    background-color: rgba(0, 5, 255, 0.58);
}

.boss{
    background-color: #ff0000;
}

.player{
    background-color: #00ff00;
}