.itemLine div{
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.pole{
    background-color: #bfbfbf;
}

.wall{
    background-color: #292929;
}

.skill{
    background-color: #dada00;
}

.certificate{
    background-color: rgb(255, 170, 0);
}

.bossWallSmall{
    background-color: rgb(255, 255, 255);
}

.bossWallBig{
    background-color: rgb(255, 255, 255);
}

.boss{
    background-color: #ff0000;
}

.player{
    background-color: #00ff00;
}